
  <div class="field">
    <%= f.label :content, "#{@user.first_name} says:" %><br>
    <%= f.text_area :content, placeholder: "Type your comment..." %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>