This is the profile page
<div class="row">
  <div class="col l2"><p>Put stuff</p><i class="material-icons">add</i></div>
  <div class="col l3"><p>Put stuff</p></div>
  <div class="col l3"><p>Put stuff</p></div>
  <div class="col l4 right-align"><p class="right-align">Put stuff</p></div>
</div>