<h1>Editing Challenge</h1>

<%= render 'form' %>

<%= link_to 'Show', organization_challenges_path(@organization.id, @challenge.id) %> |
<%= link_to 'Back', organization_challenges_path(@organization.id) %>
