.simple-calendar{text-align:center; font-size: 16px; font-weight: bold;}
.day {height:60px;text-align:left;font-weight:normal;}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {}
.past {}
.future {}

.start-date {}

.prev-month {background-color: #DDDDDD;}
.next-month {background-color: #DDDDDD;}
.current-month {}

.has-events {}
