.simple-calendar{}
.day {height:60px;}

.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}

.today {}
.past {}
.future {}

.start-date {}

.prev-month {background-color: #DDDDDD;}
.next-month {background-color: #DDDDDD;}
.current-month {}

.has-events {}
