This one.

<body ng-app="activity" ng-controller="ActivityCtrl as activity">
  <div>{{activity.test}}</div>
  <div>{{activity.string}}</div>

    <uiview></uiview>
  
  
  
  
<script type="text/ng-template" id="activity.html">
  My test

  <div>
    {{activity.test}}
  </div>

</script>

</body>